<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AndroidAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAE23B5E1DF938DA00908CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE23B7A1DF938DA00908CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE23B851DF938DA00908CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
